{% extends 'creditorapp/mainTemplate.html' %}


{% block main %}
    <div class="card">
<h1 class="card-header " align="center">Password Change Form</h1>
<div class="card-body">    <form action="../forgotpassword/">
    {% csrf_token %}
<div class="form-group">
        <label for="password">New Password:</label>
       <input type="password" name="password" id="password" class="form-control">
    </div>
<button class="btn bg-success">Submit</button>{{ success }}

</form></div>
    </div>

{% endblock %}