{% extends 'creditorapp/mainTemplate.html' %}

{% block navigation %}
{#    overrid navigation bar#}
{% endblock %}
{% load static %}

{% block main %}
    <style>
    .card-header {

    }
    #col {
        margin-top:10% ;
    }
    body {
  background: url("{% static 'gallary/ful.jpg' %}") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
    </style>
    <div class="container h-100" >
    <div class="row justify-content-center align-items-center">
    <div class="col-md-4" id="col">
    <div class="card">
<h1 class="card-header " align="center">Log in Form</h1>
        <script>

        $(document).ready(function () {

                   $('#username').keyup(function () {

                      $("#myalert").remove();

                   });


            });
        </script>
<div class="card-body">    <form action="{% url 'loginsuccess' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">User Name:</label>
        <input type="text" class="form-control" id="username" name="username"  autocomplete="off">
    </div>
<div class="form-group">
        <label for="password">Password:</label>
       <input type="password" name="password" id="password" class="form-control">
    </div>
<button class="btn bg-success" >Submit</button>
{% if messages %}
    {% for mes in messages %}
   <div id="myalert" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ mes }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endfor %}
{% endif %}
</form></div>
    </div>
    <div align="center"><a href="{% url 'forgotpassword' %}" class="page-link">forgot password</a></div>
</div>
 </div>
</div>
{% endblock %}