{% extends 'creditorapp/mainTemplate.html' %}

{% block main %}
{% load django_template_maths %}
<script>
    $(document).ready(function () {
        var table = $('table').DataTable({
    //foorterCallback start...
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\Rs.,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
            // Total over all pages
            {#total = api#}
            {#    .column( 7 )#}
            {#    .data()#}
            {#    .reduce( function (a, b) {#}
            {#        return intVal(a) + intVal(b);#}
            {#    }, 0 );#}

            // Total over this page

            col7 = api
                .column( 7, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
             col8 = api
                .column( 8, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
              col9 = api
                .column( 9, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
               col10 = api
                .column( 10, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            col11 = api
                .column( 11, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
             col12 = api
                .column( 12, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            // Update footer(api.column( 7 ).footer() )

            $("#1").html('Rs.'+col7);$("#2").html('Rs.'+col8);
            $("#3").html('Rs.'+col9);$("#4").html('Rs.'+col10);
            $("#5").html('Rs.'+col11);$("#6").html('Rs.'+col12);

        } // footerCallback end
    } );
  // end DataTable
        $('table tbody').on('click','tr',function () {

                     var page = table.row( this ).data();
             window.location.href = "{% url 'pagewisedetail' %}?page="+page[5];
             le= table.row().data().length;

        });
        function multiFunction(name,father,cell){

           $.ajax({
            type:'GET',
            url:"{% url 'aggregateAJAX' %}",
            data:{'name':name,'father':father,'cell':cell},
            dataType:'JSON',
            success:function (data) {
                var i =0; var j=0;
                $("#tbody").empty();
                for(i; i<data.values.length; i++) {
                    // Table Body data
                    $('#tbody').append("<tr><td>" + (i + 1) + "</td><td>" + data.values[i][0] + "</td><td>" + data.values[i][1] + "</td>" +
                        "<td>" + data.values[i][2] + "</td><td>" + data.values[i][3] + "</td><td>" + data.values[i][9] + "</td><td>" + data.values[i][4] + "</td>" +
                        "<td>" + data.values[i][5] + "</td><td>" + data.values[i][6] + "</td><td>" + data.values[i][7] + "</td><td>" + data.values[i][8] + "</td><td>" + [(data.values[i][8] + data.values[i][4]) - (data.values[i][5] + data.values[i][6] + data.values[i][7])] + "</td></tr>");
                }
                    //Footer Total for Table
                    $("#0").html(data.Total[0]); $("#1").html('Rs.'+data.Total[1]); $("#2").html('Rs.'+data.Total[2]);
                    $("#3").html('Rs.'+data.Total[3]); $("#4").html('Rs.'+data.Total[4]); $("#5").html('Rs.'+data.Total[5]);
                     $("#6").html('Rs.'+data.Total[6]);

            }

        });

        }
        var name =$("#name"); var father =$("#father"); var cell=$("#cell")
        $(name).keyup(function () {
                    var name = $(this).val().trim();
                    $("#father").val("");$("#cell").val("");
                    var father=""; var cell="";
                    multiFunction(name,father,cell);
        });
        $(father).keyup(function () {
                     var father = $(this).val().trim();
                      $("#name").val("");$("#cell").val("");
                     var name=""; var cell="";
                  multiFunction(name,father,cell);

        });
        $(cell).keyup(function () {
                     var cell = $(this).val().trim();
                      $("#father").val("");$("#name").val("");
                    var name=""; var father="";
               multiFunction(name,father,cell);

        });
    });
</script>
    <style>#row1{margin-top: 2%;}</style>

     <div id="row1"><div class="col-md-12"><h1 class="text-center text-uppercase">summary pagewise detail</h1></div></div>
    <div style="display: none">
    <form class="form-inline">
    <label for="name" class="mb-2 mr-sm-2">Name:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="name" placeholder="Enter name" name="name">
    <label for="father" class="mb-2 mr-sm-2">Father:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="father" placeholder="Enter Father name" name="father">
    <label for="cell" class="mb-2 mr-sm-2">Cell:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="cell" placeholder="Enter Cell number" name="cell">
  </form>
    </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>

      <th scope="col">Name</th>
      <th scope="col">Father</th>
        <th scope="col">Cell</th>
         <th scope="col">Date</th>
        <th scope="col">Page</th>
        <th scope="col">#bike</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Advance</th>
        <th scope="col">Installment</th>
        <th scope="col">Discount</th>
        <th scope="col">Fine</th>
        <th scope="col">Ballance</th>
    </tr>
  </thead>
    <tbody id="tbody">
  {% for ob in obj1 %}
   <tr>
       <td>{{forloop.counter}}</td>

        <td id="name1">{% if forloop.counter == 1 %}

            {{ob.name}}
                    {% endif %}
        </td>
         <td id="father1">{% if forloop.counter == 1 %} {{ob.father}} {% endif %}</td>
         <td id="cell1">{% if forloop.counter == 1 %} {{ob.cell}} {% endif %}</td>
         <td id="date">{{ob.dt}} </td>
        <td id="cell1"> {{ob.page}}</td>
         <td id="model1">{{ob.bm}}</td>
         <td id="decided1">Rs.{{ ob.dr}}</td>
         <td id="advance1">Rs.{{ ob.adv}}</td>
         <td id="installment1">Rs.{{ ob.inst}}</td>
         <td id="discount1">Rs.{{ ob.DIS}}</td>
         <td id="fine1">Rs.{{ ob.FIN}}</td>

        <td>Rs.{{ob.dr|sub:ob.DIS|sub:ob.inst|sub:ob.adv|add:ob.FIN}}</td>

         </tr>


    {% endfor %}
    </tbody>
<tfoot>
 <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
        <th scope="col" id="total">Total</th>
        <th scope="col" id="0"></th>
        <th scope="col" id="1">Rs.{{ values.1 }}</th>
        <th scope="col" id="2">Rs.{{ values.2 }}</th>
        <th scope="col" id="3">Rs.{{ values.3 }}</th>
        <th scope="col" id="4">Rs.{{ values.4 }}</th>
        <th scope="col" id="5">Rs.{{ values.5 }}</th>
        <th scope="col" id="6">Rs.{{ values.6 }}</th>

    </tr>
</tfoot>
</table>
<style>
     .table{ font-size: small}
</style>

{% endblock %}